# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    style.css                                          :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: scollet <marvin@42.fr>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2017/06/28 09:28:19 by scollet           #+#    #+#              #
#    Updated: 2017/06/28 09:28:20 by scollet          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.git-link {
  color: black;
  font-style: italic;
  font-family: "futura", futura;
}
